@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

span {
    font-family: "Libre Caslon Text", serif;
    font-style: italic;
}

html{
  font-family: "Libre Caslon Text", serif;

}

h1 {
  font-size: 42px;
  span{
    font-weight: 700;
  }
}

h2,
h3,
h4,
a,
button {
  font-weight: 600;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 18px;
}

a,
p,
label,
input,
button
ul, 
li {
  font-size: 18px;
}

p,
input,
select,
option
ul, 
li {
  font-weight: 500;
}

@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 39px;
  }

  h3 {
    font-size: 37px;
  }

  h4 {
    font-size: 15px;
  }

  a,
  p,
  label,
  input,
  button
  ul,
  li {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 14.5px;
  }

  a,
  p,
  label,
  input,
  button
  ul,
  li {
    font-size: 14px;
  }
}

body {
  div::selection,
  section::selection {
    background: transparent;
  }

  img {
    &::selection {
      background: transparent;
    }
  }
}
